{% extends 'header.html' %}
{% block body %}
    <h1><a href="{{ url_for('singleauthor', a_id=author.id) }}">{{ author.name }}</a></h1>
    <form action="{{ url_for('singleauthor', a_id=author.id) }}" method="POST">
        <input type="text" name="author_name">
    </form>
    <input type="button" value="DELETE" onclick="delete_req('{{ url_for('singleauthor', a_id=author.id) }}')" />

    <ul id="books">
    {% for book in books %}
        <li><a href="{{ url_for('singlebook', b_id=book.id) }}">{{ book.title }}</a> <input type="button" value="UNSIGN" onclick="delete_req('{{ url_for('signbook', a_id=author.id, b_id=book.id) }}')" /></li>
    {% endfor %}
    </ul>
</body>
</html>
{% endblock %}