{% extends 'header.html' %}
{% block body %}
    <form action="{{ url_for('singleauthor', a_id=author.id) }}" method="POST">
        {{ forms.author.name(value = author.name) }} <a href="{{ url_for('singleauthor', a_id=author.id) }}">[∞]</a>
    </form>
    <input type="button" value="DELETE" onclick="delete_req('{{ url_for('singleauthor', a_id=author.id) }}')" />

    <ul id="books">
    {% for book in books %}
        <li><a href="{{ url_for('singlebook', b_id=book.id) }}">{{ book.title }}</a> <input type="button" value="UNSIGN" onclick="post_req('{{ url_for('unsignbook', a_id=author.id, b_id=book.id) }}')" /></li>
    {% endfor %}
    </ul>

    <form action="{{ url_for('signbook', a_id=author.id) }}" method="POST">
        {{ forms.authorship.books }}
        <input type="submit"> 
    </form>
</body>
</html>
{% endblock %}