{% extends 'header.html' %}
{% block body %}
    <form action="{{ url_for('singlebook', b_id=book.id) }}" method="POST">
        <a href="{{ url_for('singlebook', b_id=book.id) }}">[∞]</a> {{ forms.book.title(value = book.title, class="h_input") }}
        <input type="button" value="DELETE" onclick="delete_req('{{ url_for('singlebook', b_id=book.id) }}')" />
    </form>

    <ul id="authors">
    {% for author in authors %}
        <li><a href="{{ url_for('singleauthor', a_id=author.id) }}">{{ author.name }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}