{% extends 'header.html' %}
{% block body %}
<form action="{{ url_for('singlebook', b_id=book.id) }}" method="POST">
    <a href="{{ url_for('singlebook', b_id=book.id) }}">[∞]</a> {{ forms.book.title(value = book.title, class="h_input", readonly="readonly") }}
    <input type="button" value="DELETE" onclick="delete_req('{{ url_for('singlebook', b_id=book.id) }}')" class="editing"/>
</form>

<div class="datalist">
    {% if authors %}
        <h3>Written by:</h3>
        <ul id="authors">
        {% for author in authors %}
            <li><a href="{{ url_for('singleauthor', a_id=author.id) }}">{{ author.name }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}