<html>
<head>
    <title>{{ page.title }}</title>
    <script type="text/javascript">
        function delete_req(link) {
            var client = new XMLHttpRequest();
            client.open('DELETE', link, true);
            client.send(null);
            client.onreadystatechange = function(){
                if (client.readyState == 4 && client.status == 200){
                    window.location = client.responseText;
                }
            } 
        };

        function put_req(link) {
            var client = new XMLHttpRequest();
            client.open('PUT', link, true);
            client.send(null);
            client.onreadystatechange = function(){
                if (client.readyState == 4 && client.status == 200){
                    window.location = client.responseText;
                }
            } 
        };

        function post_req(link) {
            var client = new XMLHttpRequest();
            client.open('POST', link, true);
            client.send(null);
            client.onreadystatechange = function(){
                if (client.readyState == 4 && client.status == 200){
                    window.location = client.responseText;
                }
            } 
        };
    </script>
</head>
<body>
    <h1><a href="/">Libr</a></h1>
    {% block body %}{% endblock %}